* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #F3F4F6;
    --gray: #9CA3AF;
    --black: #0A0A0C;
    --dgray: #1F1F24;
    --background: #0A0A0C;

}
a{
    color: var(--gray);
    text-decoration: none;
}

nav {
    background-color: var(--background);

    display: flex;
    height: 80px;
    width: 100vw;
    border-bottom: 1px solid rgb(49, 48, 48);
    justify-content: space-between;
    padding: 30px 144px 30px 144px;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    gap: 17px;
}

nav ul li {
    list-style-type: none;
    /* removing the dots from list times (only for li of nav bar) */
    color: gray;
    font-size: 14px;
    margin-left: 15px;
    font-family: "Geist", sans-serif;
    font-weight: 130;
    
}

body {
    background-color: var(--background);
}

.logo {
    display: flex;
    color: var(--white);
    font-size: 18px;
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -0.5px;
    font-weight:300;
}


.hero{
    background-color: var(--background);
    height: 561px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: wheat;
}

.hero-left{
    color:var(--white);
    width: 652px;
    height: 268px;


}
.greenText{
    background-color: #162E21;
    font-family:"Geist-mono",monospace ;
    color: #30A46C;
    padding: 4px 10px 4px 10px;
    border: 2px solid #30a46c66;
    border-radius: 5px;
    font-size: small;
}

h1{
     font-family: "Schibsted Grotesk", sans-serif;
     height: 62px;
     width:652px ;
     margin-top: 10px;
     font-size: 48px;
     font-weight: bold;
     margin-bottom: 10px;
     margin-top: 10px;

}


.hero-left p{
    font-family: "Geist",monospace;
    font-weight: 100;
    font-size: medium;
    line-height: normal;
    line-height: 1.6;
    /* word-spacing: 10px; */

}



.White-button{
    background-color: (--white);
    width: 130px;
    height: 39px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 700;
    font-family: "Geist" , monospace;
    /* display: flex; */

}

.black-button{
     background-color: (var(--background));
    border: 2px solid var(--gray) ;
    width: 130px;
    margin-left: 10px;
    height: 39px;
    font-size: 12px;
    color: var(--white);
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 700;
    font-family: "Geist" , monospace;
}


#view-work{
    position: relative;
   

}

.arrow{
   position: absolute;

}



.hero-right{
    background-color: var(--background);
    height: 320px;
    width: 400px;
    border: 18px;
}

.nav1{
    background-color:#1F1F24;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #1F1F24 ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.nav1 div{
    width: 10px;
    height: 10px;
    margin: 5px 5px 5px 10px ;
    border-radius: 20px;
    /* padding: 2px; */


}

.red{
    background-color: rgba(255, 0, 0, 0.678);
    /* margin: 10px; */
    /* padding-left: 10px; */
}
.green{
    background-color: rgba(0, 128, 0, 0.632);
    /* padding-left: 10px; */
}
.yellow{
    background-color: rgba(255, 255, 0, 0.621);
    /* padding-left: 10px; */
}

.cpp{
    background-color: #101013e8;
    /* background-color: yellow; */
    height: 250px;
    width: 400px;
}
